.Member
  font-size 0
  .members
    .memberList
      h3
        font-size .533rem
      p
        font-size .427rem
  .form
    h3
      font-size 20px
    form
      section
        margin .2rem 0
        button
          padding .2rem .5rem
          border 0
          border-radius .1rem