.Home
  width 10rem
  .top
    padding 1.787rem 0 1.493rem 0
    background linear-gradient(90deg, #FFEE8A 0%, #FFDC71 98%);
    color #33333
    font-size .4rem
    text-align center
    width @width
    h3
      margin .45rem 0 .983rem 0
      font-size 0.8rem
    .btn
      button
        border 1px solid #606060
        border-radius .427rem
        background-color #FFF
        font-size .4rem
        width 3.04rem
        height .853rem
  .suDoKu
    margin -.5rem auto 0 auto
    background-color #FFF
    box-shadow 0 0 .5rem rgba(0,0,0,.3)
    border-radius .2rem
    width 9rem
    .row
      display flex
      justify-content center
      align-items center
      text-align center
      &:first-child
        border-bottom 1px solid #F2F2F2
      a
        flex 1
        padding 1.05rem 0
        &:nth-of-type(2)
          border-left 1px solid #F2F2F2
          border-right 1px solid #F2F2F2
        img
          width 1.173rem
          height .96rem
        p
          color #000
          font-size .32rem