.Mine
  font-size 0
  width 100%
  .header
    position relative
    background-size cover
    overflow hidden
    width @width
    height 6.8rem
    .bgImg
      margin -5% 0 0 -5%
      filter: blur(5px)
      width 110%
      height 110%
    .info
      position absolute
      top .987rem
      left 50%
      transform translate(-50%)
      text-align center
      img
        border 3px solid #FFF
        border-radius .107rem
        width 3.52rem
        height 3.52rem
      h3
        margin-top .7rem
        font-size .453rem
        color #FFF
        text-shadow 0 .053rem .107rem rgba(0,0,0,0.50)
  .lists
    padding 0 .4rem
    .list
      padding .4rem 0
      border-bottom 1px solid #F2F2F2
      background url("../../assets/icon/btn_next@2x.png") no-repeat center right
      background-size .16rem .32rem
      span
        font-size .453rem
        color #333